@import 'src/variables.scss';

:host {
  width: 100%;
}

.card {
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: dense;
  grid-gap: $spaceXs;
}

.space {
  padding: $spaceXs;
  border: 1px solid $lightgray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p,
  h2 {
    margin: $spaceXs 0;
  }
}

.service {
  p {
    word-break: break-all;
  }
}

.spinner {
  margin: 0 auto;
}

.visual {
  mat-icon {
    @include md-icon-size(50px);
    margin: 0 auto;
  }
}

.error {
  color: $warn;
}

.processed {
  color: $success;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: -$spaceXs;

  > button {
    margin: $spaceXs;
  }
}

