@import 'src/variables.scss';

.container {
  margin: $spaceL 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: dense;
  grid-gap: $spaceXs;
  align-items: center;
  justify-items: center;
}

mat-form-field {
  padding: 0;
}
