@import 'src/variables.scss';

.container {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: $spaceL;
}

.input {
  display: block;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
